
<div class="row">

  <div class="col-sm-12">

    <nav class="navbar navbar-dark bg-dark">
      <a class="navbar-brand" style="color: white">Home</a>
      <form class="form-inline">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </nav>

  </div>

  <div class="col-sm-2"></div>

  <div class="col-sm-6">

    <div class="row">

      <div class="col-sm-12" style="padding-top: 1rem">
        <h1 style="text-align: center">Sistema de Detección de Gas</h1>
      </div>

      <div class="col-sm-12" style="text-align: center; padding-top: 2rem">

        <div id="card_Alerta" class="card text-center">
          <div class="card-header" style="color: black; background-color: red">
            Warning
          </div>
          <div class="card-body">
            <h1 class="card-title">Alerta</h1>
            <img id="imagen_Warning" src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/24/Warning_icon.svg/2000px-Warning_icon.svg.png" alt="alerta" style="height: 15rem; width: 15rem">
            <p class="card-text">Se Detecto Presencia de Gas</p>
            <a href="#" class="btn btn-danger">Go somewhere</a>
          </div>
          <div class="card-footer" style="color: black; background-color: red">
            Warning
          </div>
        </div>

        <div id="card_Cool" class="card text-center">
          <div class="card-header" style="color: black; background-color: lawngreen">
          </div>
          <div class="card-body">
            <h1 class="card-title">Cool Enviroment</h1>
            <img src="https://cdn3.iconfinder.com/data/icons/security-2-1/512/thumb_up-512.png" alt="alerta" style="height: 15rem; width: 15rem">
          </div>
          <div class="card-footer" style="color: black; background-color: lawngreen">
          </div>
        </div>

      </div>

    </div>

  </div>

  <div class="col-sm-3">

    <ul class="list-group" style="padding-top: 7rem">
      <li class="list-group-item">Usuario</li>
      <li class="list-group-item">Registros</li>
      <li class="list-group-item">Configuracion</li>
      <li class="list-group-item">Contactos</li>
      <li class="list-group-item">Log Out</li>
    </ul>

  </div>



</div>
